@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');



.titleHome{
    padding-top
    : 5vw;
    padding-bottom: 5vw;
    font-size: 5em;
    font-family: 'Satisfy', cursive;

    text-align: center;
}